<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moofficial.moessentials">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MoEssentials.MoUI.MoActivity.MoBasicActivity"></activity>
    </application>

</manifest>